<?xml version="1.0" encoding="utf-8" ?>
<settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <!-- The comma separated list of Vault properties being attached to the Vault file name/number -->
  <FileNameSuffixes>Title,Revision</FileNameSuffixes>
  
  <!-- Folder Category Name of folders to be mapped as corresponding Vault project to Cloud proejct-->
  <VaultFolderCat>Project</VaultFolderCat>
  
  <!-- The name of the UDP saving the mapped local cloud drive path (Desktop Connector)-->
  <CloudDrivePath>Cloud Drive Path</CloudDrivePath>

  <!-- The name of the UDP saving online projects URL-->
  <CloudPath>Cloud Path</CloudPath>
  
  <!-- Comma separated list of enabled Drive Types; valid values are Drive,Docs,Fusion-->
  <DriveTypes>Drive,Docs,Fusion</DriveTypes>
  
  <!-- '|' separated list of file conversion settings: Target Drive|Native Format|Target Format|UploadDWF-->
  <DriveConversionSettings>Autodesk Docs|*.IPT|*.DWG (3D)|False</DriveConversionSettings>

</settings>